<div class="container">
    <div class="about-section">
        <div class="content">
            <h1 class="">Welcome at AnguShop</h1>
            <p class="aboutustext">We are a team of software engineers who joined forces to build AnguShop a modern
                e-commerce
                website.
                Our goal is to make online shopping easy, fast, and accessible for everyone.
                AnguShop allows users to browse products, manage carts and wishlists, and place orders seamlessly.
                Inspired by platforms like Amazon, it offers a clean, responsive, and user-friendly experience.
                Built with Angular, AnguShop reflects our passion for technology and practical web solutions</p>
            <a routerLink="/contactus" class="contact-btn">Contact Now</a>
        </div>
        <div class="illustration">
            <img src="/Images/team/aboutus2.jpg" alt="">
        </div>
    </div>
</div>
