<!-- Modal Structure -->
<div class="modal" [class.show]="showModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content text-white" style="background-color: #222e3b;">
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="fas fa-box-open me-2"></i> Add New Product
        </h5>
        <button type="button" class="btn-close btn-close-white" (click)="closeModal()"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label class="fw-bold mb-2">Title</label>
            <input formControlName="title" class="form-control bg-dark text-white border-dark" />

            <div class="invalid-feedback d-block"
              *ngIf="productForm.get('title')?.invalid && productForm.get('title')?.touched">
              Title is required
            </div>
          </div>

          <div class="mb-3">
            <label class="fw-bold mb-2">Price</label>
            <input formControlName="price" type="number" step="0.01"
              class="form-control bg-dark text-white border-dark" />

            <div class="invalid-feedback d-block"
              *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
              Valid price is required
            </div>
          </div>

          <div class="mb-3">
            <label class="fw-bold mb-2">Description</label>
            <textarea formControlName="description" class="form-control bg-dark text-white border-dark"></textarea>

            <div class="invalid-feedback d-block"
              *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched">
              Description is required
            </div>
          </div>

          <div class="mb-3">
            <label class="fw-bold mb-2">Category</label>

            <select formControlName="category" class="form-control bg-dark text-white border-dark">
              @for (item of categories; track $index) {
              <option [value]="item">{{item}}</option>
              }
            </select>

            <div class="invalid-feedback d-block"
              *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched">
              Category is required
            </div>
          </div>

          <div class="mb-3">
            <label class="fw-bold mb-2">Image URL</label>
            <input formControlName="image" class="form-control bg-dark text-white border-dark" />
            <div class="invalid-feedback d-block"
              *ngIf="productForm.get('image')?.invalid && productForm.get('image')?.touched">
              Valid image URL is required
            </div>
          </div>

          <!-- <div class="mb-3">
            <label class="fw-bold mb-2">Image URL</label>
            <input formControlName="image" class="form-control" />
          </div> -->


          <div class="mb-3">
            <label class="fw-bold mb-2">Stock Count</label>
            <input formControlName="stockCount" type="number" min="0"
              class="form-control bg-dark text-white border-dark" />
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-success" [disabled]="productForm.invalid">
              <i class="fas fa-save"></i> Add Product
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" *ngIf="showModal"></div>



<!-- <div class="container mb-5 text-white w-50">
  <div class="form-card mt-4">
    <div class="form-header">
      <i class="fas fa-box-open me-2 fs-3"></i> Add New Product
    </div>



    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="fw-bold mb-2">Title</label>
        <input formControlName="title" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="fw-bold mb-2">Price</label>
        <input formControlName="price" type="number" step="0.01" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="fw-bold mb-2">Description</label>
        <textarea formControlName="description" class="form-control"></textarea>
      </div>

      <div class="mb-3">
        <label class="fw-bold mb-2">Category</label>
        <select formControlName="category" class="form-control">
          @for (item of categories; track $index) {
          <option class="bg-black" [value]="item">{{item}}</option>
          }


        </select>
      </div>
      <div class="mb-3">
        <label class="fw-bold mb-2">Image URL</label>
        <input formControlName="image" class="form-control" />
      </div>

      <div class="mt-4 text-center">
        <button type="submit" class="btn btn-success" [disabled]="productForm.invalid">
          <i class="fas fa-save"></i> Add Product
        </button>
      </div>
    </form>
  </div>
</div> -->